@import "tailwindcss";
@import "tw-animate-css";
/* @import "shadcn/tailwind.css"; */

@font-face {
  font-family: "Metropolis-Thin";
  src: url("/fonts/Metropolis-Thin.woff") format("woff2");
  font-display: swap;
}
@font-face {
  font-family: "Metropolis-Light";
  src: url("/fonts/Metropolis-Light.woff") format("woff2");
  font-display: swap;
}
@font-face {
  font-family: "Metropolis-Regular";
  src: url("/fonts/Metropolis-Regular.woff") format("woff2");
  font-display: swap;
}
@font-face {
  font-family: "Metropolis-Medium";
  src: url("/fonts/Metropolis-Medium.woff") format("woff2");
  font-display: swap;
}
@font-face {
  font-family: "Metropolis-SemiBold";
  src: url("/fonts/Metropolis-SemiBold.woff") format("woff2");
  font-display: swap;
}
@font-face {
  font-family: "Metropolis-Bold";
  src: url("/fonts/Metropolis-Bold.woff") format("woff2");
  font-display: swap;
}
@font-face {
  font-family: "Metropolis-Black";
  src: url("/fonts/Metropolis-Black.woff") format("woff2");
  font-display: swap;
}

Body {
  font-family: "Metropolis-Regular" !important;
  color: #000;
  font-size: clamp(14px, 1.5vw, 16px);
}
.header-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 999;
  background: #fff;
}

/* Top Strip Start Here */
.headertop_strip {
  position: relative;
  overflow: hidden;
  background: linear-gradient(270deg, #10467f, #c4161c, #10467f, #c4161c);
  background-size: 400% 400%;
  animation: gradientMove 6s ease infinite;
}

.animated_gradient {
  position: absolute;
  inset: 0;
  background: linear-gradient(
    120deg,
    rgba(255, 255, 255, 0.09),
    rgba(255, 255, 255, 0),
    rgba(255, 255, 255, 0.09)
  );
  animation: shineMove 5s linear infinite;
}

@keyframes gradientMove {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}

@keyframes shineMove {
  0% {
    transform: translateX(-100%);
  }

  100% {
    transform: translateX(100%);
  }
}

.topstrip_marquee {
  position: relative;
  z-index: 2;
}

.topstrip_track {
  display: flex;
  align-items: center;
  gap: 14px;
}

.desktop_track {
  justify-content: center;
  flex-wrap: wrap;
}

.mobile_track {
  display: none;
}

.topstrip_link {
  color: #fff;
  text-decoration: none;
  font-size: 14px;
  font-weight: 500;
  padding: 2px 16px;
  border-radius: 30px;
  transition: all 0.3s ease;
  white-space: nowrap;
  animation: pulseGlow 1.8s infinite;
}

.topstrip_link:hover {
  color: #fff;
  background: rgba(255, 255, 255, 0.12);
  transform: translateY(-2px);
}

.highlight_link {
  /* background: #fff; */
  color: #fff !important;
  /* font-weight: 700; */
  animation: pulseGlow 1.8s infinite;
}

.topstrip_divider {
  color: rgba(255, 255, 255, 0.5);
}
.contact_btnheader {
  border-radius: 20px;
  background-color: #fff;
  color: #000;
  line-height: normal;
  text-decoration: none;
  padding: 4px 13px;
}

@keyframes pulseGlow {
  0% {
    transform: scale(1);
  }

  50% {
    transform: scale(1.05);
  }

  100% {
    transform: scale(1);
  }
}

/* MOBILE */
@media (max-width: 991px) {
  .desktop_track {
    display: none;
  }
  .mobile_track {
    display: flex;
    width: max-content;
    flex-wrap: nowrap;
    animation: mobileMarquee 18s linear infinite;
  }
  .topstrip_marquee {
    overflow: hidden;
  }
  @keyframes mobileMarquee {
    0% {
      transform: translateX(0%);
    }

    100% {
      transform: translateX(-50%);
    }
  }
}

/* custom css start here*/

/* Header Start */
.headertop_strip {
  background-color: #10467f;
  font-size: 14px;
  font-family: "Metropolis-Regular";
}
/* Navigation Start Here */
.navbar .dropdown:hover .dropdown-menu {
  display: block;
  min-width: 210px;
}
.dropdown-menu {
  border: none;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
  border-radius: 0.375rem;
}
.dropdown-item:hover {
  background-color: #f8f9fa;
  color: #dc3545 !important;
}
.offcanvas {
  box-shadow: -0.5rem 0 1rem rgba(0, 0, 0, 0.15);
}
.btn-link {
  color: inherit !important;
}
.btn-link:hover {
  color: #dc3545 !important;
}
.rotate-90 {
  transform: rotate(90deg);
}
.mainmenu .nav-item .nav-link {
  font-size: 14px;
  color: #000;
  font-family: "Metropolis-Medium";
  padding: 5px 5px !important;
}
.mainmenu .navbar-nav .dropdown-menu .dropdown-item {
  font-size: 14px;
}
.mainmenu .dropdown-item {
  white-space: wrap;
}
/* Navigation End Here */
/* CanvasToggle Start Here */
.canvastoggle {
  position: absolute;
  right: 0;
  border-radius: 20px 0px 0px 20px;
  padding: 6px 5px 0px 10px;
  background: #c4161c;
  color: #fff;
  height: 38px;
}
.canvastoggle .bi-list {
  font-size: 27px;
  line-height: normal;
}
.offcanvas-header {
  background: #c4161c;
}
/* CanvasToggle End Here */

/* Hero Section Start */
/* .hero-section {
  min-height: 90vh;
  background-image: url('/images/home/banner.webp');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  padding: 60px 0;
  color: #fff;
}
.hero-section h1 {
  line-height: 1.4;
  font-family: 'Metropolis-Thin';
  font-size:50px;
}
.hero-section .sitpunetext{
  font-family: 'Metropolis-Black';
}
.herolist{
    margin: 30px 0 0 0;
    padding: 0px;
    font-size: 14px;
}
.herolist li{
  padding: 3px 0px 3px 20px;
  background-image: url(/images/home/yellow-arrow.svg);
  background-repeat: no-repeat;
  background-position: left center;
  background-size: 13px;
} */
.firstslide {
  max-height: 550px;
  margin: 103px 0 0 0;
}
.firstslide .swiper {
  max-height: 550px;
}
.herofirstslide {
  min-height: 90vh;
  background-image: url("/images/home/Hero-Banner.webp");
  background-position: bottom;
  background-size: 100%;
  background-repeat: no-repeat;
  padding: 0px 0;
  color: #fff;
}
.firstslide h1 {
  line-height: 1.4;
  font-family: "Metropolis-Thin";
  font-size: 50px;
}
.firstslide .sitpunetext {
  font-family: "Metropolis-Black";
}
.firstslide .herolist {
  margin: 30px 0 0 0;
  padding: 0px;
  font-size: 14px;
}
.firstslide .herolist li {
  padding: 3px 0px 3px 20px;
  background-image: url(/images/home/yellow-arrow.svg);
  background-repeat: no-repeat;
  background-position: left center;
  background-size: 13px;
}

/* Latest Update Start */
.latestupdate {
  position: relative;
  display: flex;
  align-items: center;
  background: #10467f;
  z-index: 1;
}
.latestupdateicon {
  position: relative;
  padding: 15px 5px 15px 125px;
  width: 350px;
  background: #fff;
  border-radius: 0px 40px 40px 0px;
  margin: -37px 0 0 0;
  display: flex;
  align-items: center;
  color: #10467f;
  font-size: 22px;
  font-family: "Metropolis-Regular";
}
.latestupdateicon b {
  font-family: "Metropolis-Bold";
}
.latestupdatepoints {
  background: #10467f;
  color: #fff;
  padding: 11px 10px;
  width: 100%;
  overflow: hidden;
  padding: 10px 0;
  background: #10467f;
}
.latestupdateicon img {
  position: absolute;
  left: 10%;
  top: -30px;
}
.marquee-track {
  display: flex;
  width: max-content;
  animation: scrollLeft 30s linear infinite;
}
.marquee-track ul {
  display: flex;
  gap: 40px;
  margin: 0;
  padding: 0;
  list-style: none;
}
.marquee-track li {
  white-space: nowrap;
}
@keyframes scrollLeft {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}
.Announcementannimi {
  animation: blinkPulse 1.5s infinite ease-in-out;
}

@keyframes blinkPulse {
  0% {
    opacity: 1;
    transform: scale(1);
  }

  50% {
    opacity: 0.9;
    transform: scale(1.08);
  }

  100% {
    opacity: 1;
    transform: scale(1);
  }
}
/* Latest Update End */
/* .customBtn{
  border: 1px solid #10467F;
  padding: 8px 26px !important;
  border-radius: 40px;
  color:#10467F;
  transition-duration:0.5s;
}
.customBtn:hover{
  color: #fff !important;
  border: 1px solid #10467F;
  background-color:#10467F !important;
}
.customBtn:hover span{
  color: #fff !important;
}
.rounded_cta{
  border: 1px solid #10467F;
  padding: 8px 26px;
  border-radius: 40px;
}
.rounded_cta:hover{
  color: #fff !important;
  border: 1px solid #10467F;
  background-color:#10467F !important;
} */

.customBtn {
  border: 1px solid #10467f;
  padding: 8px 26px !important;
  border-radius: 40px;
  color: #10467f;
  transition: all 0.35s ease-in-out;
  position: relative;
  overflow: hidden;
  cursor: pointer;
}

/* Hover effect */
.customBtn:hover {
  color: #fff !important;
  background-color: #10467f !important;
  border: 1px solid #10467f;
  transform: translateY(-3px);
  box-shadow: 0 8px 20px rgba(16, 70, 127, 0.25);
}

/* Text color fix */
.customBtn:hover span {
  color: #fff !important;
}

/* Shine animation effect */
.customBtn::before {
  content: "";
  position: absolute;
  top: 0;
  left: -75%;
  width: 50%;
  height: 100%;
  background: rgba(255, 255, 255, 0.25);
  transform: skewX(-20deg);
}

.customBtn:hover::before {
  animation: shine 0.7s ease forwards;
}

@keyframes shine {
  100% {
    left: 130%;
  }
}
.rounded_cta {
  border: 1px solid #10467f;
  padding: 8px 26px;
  border-radius: 40px;
  color: #10467f;
  background: transparent;
  transition: all 0.35s ease-in-out;
  position: relative;
  overflow: hidden;
  cursor: pointer;
}

/* Hover state */
.rounded_cta:hover {
  color: #fff !important;
  background-color: #10467f !important;
  border: 1px solid #10467f;
  transform: translateY(-3px);
  box-shadow: 0 8px 20px rgba(16, 70, 127, 0.25);
}

/* Text fix */
.rounded_cta:hover span {
  color: #fff !important;
}

/* Click effect */
.rounded_cta:active {
  transform: scale(0.96);
}

/* Shine effect */
.rounded_cta::before {
  content: "";
  position: absolute;
  top: 0;
  left: -75%;
  width: 50%;
  height: 100%;
  background: rgba(255, 255, 255, 0.25);
  transform: skewX(-20deg);
  transition: none;
}

.rounded_cta:hover::before {
  animation: shine 0.7s ease forwards;
}

@keyframes shine {
  100% {
    left: 130%;
  }
}

/* About US Start */
.heading_small {
  color: #000;
  text-transform: uppercase;
  background-color: #f7ebeb;
  border-radius: 20px;
  padding: 7px 15px;
  font-size: 13px;
  line-height: normal;
  display: block;
  margin: 0 0 20px 0;
  width: fit-content;
}
.heading {
  font-size: 40px;
  line-height: normal;
  margin: 10px 0 20px 0;
}
.heading span {
  color: #10467f;
  font-family: "Metropolis-Bold";
}
.subheading {
  font-family: Metropolis-SemiBold;
  font-size: 22px;
  margin: 0 0 9px 0;
  line-height: normal;
}
.subheading18 {
  font-size: 18px;
  font-family: "Metropolis-SemiBold";
}
.Aboutus_section {
  padding: 160px 0px 0px 0px;
  position: relative;
  overflow: hidden;
}
.Aboutus_section:after {
  content: "";
  background-image: url(/images/home/about-img.webp);
  width: 100%;
  height: 478px;
  position: absolute;
  top: 59%;
  right: 0px;
  transform: translateY(-50%);
  background-repeat: no-repeat;
  background-position: right;
  background-size: contain;
  animation: floatImage 4s ease-in-out infinite;
}
/* .Aboutus_section::after {
  content: "";
  background-image: url(/images/home/about-img.webp);
  width: 100%;
  height: 478px;
  position: absolute;
  top: 59%;
  right: 0px;
  transform: translateY(-50%);
  background-repeat: no-repeat;
  background-position: right;
  background-size: contain;

  animation: floatImage 4s ease-in-out infinite;
} */

/* Floating animation */
@keyframes floatImage {
  0% {
    transform: translateY(-50%) translateY(0px);
  }
  50% {
    transform: translateY(-50%) translateY(-15px);
  }
  100% {
    transform: translateY(-50%) translateY(0px);
  }
}

.Aboutus_inner {
  background: #ffffff;
  /* background: linear-gradient(90deg, rgba(255, 255, 255, 1) 0%, rgba(232, 231, 231, 1) 100%); */
  padding: 40px 0px 60px 0px;
}
.Aboutus_left {
  width: 39%;
  position: relative;
  z-index: 1;
}
.rounded-pill {
  margin-top: 20px;
}
/* About US End */

/* State section Start Here */
.stateinner {
  border-radius: 20px;
  padding: 20px;
  box-shadow: 0px 4px 10px #0000000d;
  background: #fff;
  position: relative;
  margin: -30px 0 0 0;
  z-index: 1;
}
.stat-box {
  padding: 20px;
  border-right: 1px solid #ccc;
}
.stat-icon {
  max-height: 60px;
}
.col-lg-3:last-child .stat-box {
  border-right: none;
}
.stateheading {
  font-family: "Metropolis-Black";
  font-size: 30px;
  line-height: normal;
  margin: 0;
}
.stat-box .text-danger {
  color: #c4161c !important;
}
.stat-box .text-primary {
  color: #10467f !important;
}
.statetext {
  font-family: "Metropolis-Light";
  font-size: 16px;
}

.academic_programs_section {
  padding: 60px 0px 0px 0px;
}
.academic_programs_blue {
  background-color: #10467f;
  background-image: url("/images/home/bluebg-dotted.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding: 20px 0px 60px 0px;
}
.ProgramsTabbing {
  margin: 0px 0px -150px 0px;
  width: fit-content;
  background: #f8f9fb;
  padding: 10px;
  border-radius: 10px;
  border: 1px solid #e5e7eb;
}
.ProgramsTabbing .btn {
  line-height: normal;
  font-family: "Metropolis-SemiBold";
  transition-duration: 0.2s;
}
.academicStudentImage {
  margin: 0 0 -120px 0px;
}
.ProgramsTabbing .btn:hover {
  background-color: #c4161c !important;
  color: #fff !important;
}
.ProgramsCard {
  border-width: medium;
  border-style: none;
  border-color: currentcolor;
  border-image: initial;
  border-radius: 25px;
  padding: 20px 20px;
  color: white;
  min-height: 270px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  transition:
    transform 0.3s,
    box-shadow 0.3s;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 8px 20px;
  cursor: pointer;
  transform: translateY(0px);
  background-color: #1f5c9c !important;
  transition-duration: 0.5s;
  position: relative;
}
.ProgramsCard:hover {
  transition-duration: 0.5s;
  background: linear-gradient(
    180deg,
    rgba(31, 92, 156, 1) 0%,
    rgba(44, 126, 212, 1) 100%
  );
}
.ProgramsCard:hover::after {
  opacity: 0.7;
  transition-duration: 0.3s;
}
.ProgramsCard::after {
  content: "";
  z-index: -1;
  background-image: url(/images/home/leaf.png);
  background-position: 70px 0;
  background-repeat: no-repeat;
  background-size: 80%;
  position: absolute;
  top: 0%;
  right: 0%;
  width: 100%;
  height: 100%;
  opacity: 0.4;
  transition-duration: 0.5s;
}
.ProgramsCard:hover .IconBox {
  background-color: #11467e;
}
.IconBox {
  border-radius: 20px;
  padding: 15px;
  background: #124f8f;
  width: fit-content;
  margin: 0 0 16px 0;
}
.Programshead {
  min-height: 50px;
  font-family: "Metropolis-Bold";
}
.program_availablebagde {
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
}
.program_availablebagde .badge {
  border-radius: 20px;
  font-family: Metropolis-SemiBold;
  font-size: 12px;
  line-height: normal;
  padding: 5px 12px;
  border: 1px solid #fff;
}
.exploreMorelink {
  font-family: "Metropolis-SemiBold";
  font-size: 14px;
  margin-top: 20px;
  color: #fff;
  text-decoration: none;
  display: flex;
  align-items: center;
  gap: 10px;
}
.exploreMorelink svg {
  max-height: 12px;
}
.exploreMorelink img {
  max-height: 11px;
}
.ProgramsCard:hover svg path {
  color: #ffdf2d;
  transform: rotate(-8deg);
}
/* .program_availablebagde .badge:nth-child(1) {
  background-color: #1D8ECB;
}
.program_availablebagde .badge:nth-child(2) {
  background-color: #5B5888;
}
.program_availablebagde .badge:nth-child(3) {
  background-color: #387DC5;
} */

/* Placements Start Here  */
.Placements_section {
  padding: 60px 0 30px 0;
  position: relative;
  background: linear-gradient(
    180deg,
    rgba(255, 255, 255, 1) 0%,
    rgba(232, 231, 231, 1) 100%
  );
}
.Placements_section:after {
  background-image: url(/images/home/placementimg.webp);
  background-position: 0 0;
  background-repeat: no-repeat;
  background-size: 100%;
  content: "";
  z-index: 9;
  width: 600px;
  height: 420px;
  position: absolute;
  left: 0;
  bottom: 0;
}
.placementnumber {
  gap: 20px;
  display: flex;
  padding: 20px;
  background: #f2f4f6;
  border-radius: 20px;
  justify-content: space-evenly;
  align-items: center;
  margin: 0px 0px 30px 0px;
}
.placementnumber:last-child {
  border: none !important;
}
.border-none {
  border: none !important;
}
/* .placementNum{
  border-right:1px solid #000;
  width: auto;
} */
.verticalline {
  width: 1px;
  height: 70px;
  background-color: #000;
}
.placementNum p {
  font-size: 14px;
}
.Numhead {
  font-family: "Metropolis-Bold";
  font-size: 30px;
  line-height: normal;
}
.placementnumber p {
  font-size: 14px;
  margin: 0px;
}
/* Testimonials Start Here */
.testimonial_section {
  background: linear-gradient(
    180deg,
    rgba(234, 233, 233, 1) 0%,
    rgba(235, 234, 234, 0) 100%
  );
  padding: 25px 25px;
  border-radius: 40px;
}
.testimonial_card {
  background-color: #fff;
  padding: 21px;
  border-radius: 21px;
}
.testimonial_section .testimonial_outer {
  padding: 0px 0px 10px 0px;
}
.testimonial_card:after {
  content: "";
  z-index: -3;
  background-image: url(/images/home/bg-shadow.svg);
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: contain;
  width: 100%;
  height: 100%;
  position: absolute;
  inset: 3px 0px 20px;
}
.student_img {
  width: 120px;
  height: 120px;
  background: #ccc;
  border-radius: 30px 80px 80px 80px;
  overflow: hidden;
}
.student_img img {
  overflow: hidden;
  object-fit: cover;
  min-height: 130px;
}
.student_info h3 {
  font-family: "Metropolis-Bold";
  font-size: 25px;
  line-height: normal;
}
.student_info h5 {
  font-family: "Metropolis-Medium";
  font-size: 16px;
  line-height: normal;
}
.student_info p {
  font-family: "Metropolis-Thin";
  font-size: 14px;
  line-height: normal;
  margin: 0px;
}
.testimonial_text p {
  font-size: 14px;
  margin: 0px;
  font-family: "Metropolis-Light";
}
/* Placements End Here  */
/* Company Logo Start Here */
.Companylogos {
  z-index: 23;
  position: relative;
  margin: -50px 0 0 0;
}
.Companylogosinner {
  background-color: #fff;
  border-radius: 20px;
  padding: 20px;
  box-shadow: 0px 10px 10px #0000000f;
}
.companylogoimg {
  max-height: 40px;
}
/* Company Logo End Here */

/* Gallery Section Start Here */
.gallery-section {
  background: url("/images/gallery/gallery-bg.webp") center center/cover
    no-repeat;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 100vh;
  position: relative;
  padding: 110px 0 60px 0;
  margin: -70px 0 0 0;
}
.gallery-section .heading_small {
  margin: 0 auto 25px auto;
}
.galleryinner .onbg {
  background-color: #ffffff9e;
  margin: 0px auto 30px auto;
  color: #fff;
}
.galleryinner {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  gap: 10px;
  margin: 90px 0 0 0;
  padding: 0 100px;
}
.galleryfisrt {
  width: 50%;
}
.gallerysecond {
  z-index: 9;
  width: 25%;
  position: absolute;
  top: 42%;
  transform: translate(-50%, -50%);
  left: 50%;
}
.gallerytired {
  width: 44%;
}
.galleryfisrt .gallery-card {
  transform: rotate(3deg);
}
.gallerysecond .gallery-card {
  transform: rotate(0deg);
}
.gallerytired .gallery-card {
  transform: rotate(0deg);
}
.gallery-card {
  border: 6px solid #fff;
  overflow: hidden;
  transform: rotate(0deg);
  transition: 0.4s ease;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.3);
}
.gallery-card:hover {
  transform: rotate(0deg) scale(1.03);
}
.gallery-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.gallery-section .campustourBtn {
  padding: 12px 30px;
  border-radius: 35px;
  line-height: normal;
  background-color: #fff;
  color: #000;
  font-size: 20px;
  transition-duration: 0.3s;
  border: none;
}
.gallery-section .campustourBtn:hover {
  background-color: #c4161c;
  color: #fff;
  transition-duration: 0.3s;
}
.gallery-section .campustourBtn:hover span {
  color: #fff;
}
.gallery-section .campustourBtn span {
  color: #c4161c;
  font-family: "Metropolis-Bold";
}
.gallery-section .exploregallerybtn {
  font-size: 20px;
  padding: 12px 25px;
  border-radius: 25px;
  line-height: normal;
  background-color: transparent;
  border: 1px solid #fff;
  color: #fff;
  font-size: 18px;
  transition-duration: 0.3s;
}
.gallery-section .exploregallerybtn span {
  font-family: "Metropolis-Bold";
}
.gallery-section .exploregallerybtn:hover {
  background-color: #fff;
  transition-duration: 0.3s;
  color: #000;
  border: 1px solid #fff;
}
/* Gallery Section End Here */
/* Internationalization Start Here */
.internationalization_section {
  padding: 0px 0px;
}
.internationalization_top {
  background-image: url(/images/home/Internationalization.webp);
  background-repeat: no-repeat;
  background-position: left center;
  padding: 60px 0px 60px 0px;
  position: relative;
  background-size: 100%;
}
.internationalization_top::after {
  position: absolute;
  content: "";
  background-image: url(/images/home/student-img.webp);
  background-repeat: no-repeat;
  background-position: left center;
  background-size: contain;
  width: 370px;
  height: 410px;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1;
}
.internationalization_main {
  display: flex;
  gap: 100px;
  justify-content: space-between;
}
.internationalization_left {
  width: 38%;
}
.internationalization_right {
  width: 39%;
  position: relative;
  z-index: 9;
}
.Apply-Now-via-SITEEE {
  background-color: #fff;
  color: #c4161c;
  font-family: "Metropolis-Bold";
  margin: 10px 0 30px 0;
}
.Apply-Now-via-SITEEE span {
  color: #000;
  font-family: "Metropolis-Regular";
}
.internationalization_box_main {
  display: flex;
  gap: 10px;
}
.internationalization_box {
  border-radius: 10px;
  background: #fff;
  padding: 14px;
  width: 31%;
}
.internationalization_box:hover {
  background-color: #10467f;
}
.internationalization_box svg {
  max-height: 40px;
  margin: 0px 0px 14px 0px;
}
.internationalization_count {
  max-height: 60px;
  margin: 0px 0px 10px 0px;
  font-family: "Metropolis-Bold";
  font-size: 25px;
  color: #c4161c;
  line-height: normal;
}
.internationalization_box:hover svg path {
  fill: #fff;
}
.internationalization_box:hover .internationalization_count {
  color: #fff;
}
.internationalization_box:hover .intetext {
  color: #fff;
}
.internationalization_lists {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
}
.internationalization_list {
  display: flex;
  gap: 15px;
  padding: 17px;
  background: #fff;
  border-radius: 20px;
  box-shadow: 0px 5px 10px #0000000a;
  align-items: center;
  transition: all 0.3s ease;
}
.internationalization_list svg path,
.internationalization_list .svg_circle,
.internationalization_list .listhead,
.internationalization_list p {
  transition: all 0.5s ease;
}
.internationalization_list:hover {
  background-color: #10467f;
}
.internationalization_list:hover path {
  fill: #fff;
}
.internationalization_list:hover .svg_circle {
  fill-opacity: 0.1;
  fill: #fff;
}
.internationalization_list:hover .listhead {
  color: #fff;
}
.internationalization_list:hover p {
  color: #fff;
}
.internationalization_list_left {
  width: 25%;
}
.internationalization_list_right {
  width: 75%;
}
.internationalization_list_left svg {
  max-height: 65px;
  min-height: 65px;
}
.internationalization_list_right .listhead {
  font-family: "Metropolis-Bold";
  font-size: 20px;
}
.internationalization_list_right p {
  margin: 0px;
}
.internationalization_list_right p {
  font-size: 14px;
}

.international_inner {
  display: flex;
  gap: 20px;
  margin: -23px 0 0 0;
  position: relative;
  z-index: 1;
}
.International_leftbox {
  width: 50%;
  background: linear-gradient(
    180deg,
    rgba(255, 255, 255, 0) 0%,
    rgba(239, 239, 239, 1) 100%
  );
  padding: 0px 30px 30px 30px;
  border-radius: 0px 0px 30px 30px;
}
.university_box {
  border-radius: 20px;
  height: 100%;
  padding: 20px;
  box-shadow: 0px 5px 3px #00000005;
  min-height: 150px;
}
.International_rightbox {
  width: 50%;
  background: linear-gradient(
    180deg,
    rgba(255, 255, 255, 0) 0%,
    rgba(239, 239, 239, 1) 100%
  );
  padding: 0px 30px 30px 30px;
  border-radius: 0px 0px 30px 30px;
}
.International_heading {
  background: #c4161c;
  color: #fff;
  font-family: "Metropolis-Bold";
  font-size: 20px;
  padding: 15px 30px;
  border-radius: 30px;
  line-height: normal;
  text-align: center;
}
.academic_progression_heading {
  background-color: #10467f;
  color: #fff;
  font-family: "Metropolis-Bold";
  font-size: 20px;
  padding: 15px 30px;
  border-radius: 30px;
  line-height: normal;
  text-align: center;
}
.international_inner img {
  max-height: 150px;
  width: auto !important;
}
.progression_box p {
  font-size: 14px;
  margin: 0px;
}

/* Internationalization End Here */
/* News And Events Start Here */
.news-events-section {
  padding: 60px 0px;
}
.featured-news-card {
  height: 100%;
  min-height: 450px;
  border-radius: 30px;
  position: relative;
}
.featured-image {
  object-fit: cover;
}
.featured-content {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 30px;
  z-index: 2;
  color: #fff;
}
.featured-content .heading_small {
  background-color: #ffffff61;
  color: #fff;
}
.featured-content h3 {
  font-size: 20px;
  margin-bottom: 15px;
  font-family: "Metropolis-SemiBold";
}
.featured-content p {
  font-size: 14px;
  color: rgba(255, 255, 255, 0.9);
}
.date-box {
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 14px;
}
.small-date {
  font-size: 14px;
  font-family: "Metropolis-Light";
  line-height: normal;
  display: flex;
  align-items: center;
}
.read-more-btn {
  border: none;
  background: transparent;
  color: #fff;
  display: flex;
  align-items: center;
  gap: 8px;
  font-size: 14px;
}
.news-list-wrapper {
  background: #c70f17;
  border-radius: 30px;
  padding: 15px 28px;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.news-item {
  padding: 18px 0;
}
.border-bottom-item {
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}
.news-thumb {
  width: 100px;
  height: 100px;
  position: relative;
  overflow: hidden;
  border-radius: 11px;
  flex-shrink: 0;
}
.thumb-img {
  object-fit: cover;
}
.news-item h5 {
  color: #fff;
  font-size: 16px;
  margin: 0;
  font-family: "Metropolis-Medium";
}
.small-date span,
.small-date svg {
  color: rgba(255, 255, 255, 0.9);
}
.arrow-icon {
  color: #fff;
  cursor: pointer;
  max-height: 20px;
  width: auto;
}
.newsList {
  text-decoration: none;
}
/* News And Events End Here  */
/* Footer Start Here */
.SITPUNE {
  color: #fff;
  background-color: #c4161c;
  font-family: "Metropolis-Black";
  font-size: 155px;
  text-align: center;
  padding: 50px 0px 0px 0px;
  line-height: 90px;
}
.sit-footer {
  background: #f4f4f4;
  padding-top: 40px;
  position: relative;
  overflow: hidden;
  background-image: url(/images/common/footerbg.webp);
  background-position: center;
  background-size: 100%;
  background-repeat: no-repeat;
  font-size: 14px;
  font-family: "Metropolis-Regular";
}
.sit-footer::before {
  content: "";
  position: absolute;
  inset: 0;
  background-image:
    radial-gradient(
      circle at 20% 20%,
      rgba(255, 255, 255, 0.7),
      transparent 40%
    ),
    radial-gradient(
      circle at 80% 30%,
      rgba(255, 255, 255, 0.5),
      transparent 40%
    );
  opacity: 0.7;
  pointer-events: none;
}
.sit-footer .container {
  position: relative;
  z-index: 2;
}
.footer-logo img {
  max-height: 53px;
  width: auto;
}
.footer-about h2 {
  font-size: 20px;
  color: #000;
  margin-bottom: 15px;
}
.footer-about h2 span {
  font-family: "Metropolis-Bold";
}
.footer-about p {
  margin-bottom: 20px;
}
.contact-list {
  display: flex;
  flex-direction: column;
  gap: 8px;
}
.contact-item {
  display: flex;
  align-items: center;
  gap: 4px;
}
.icon-box {
  width: 31px;
  height: 31px;
  border-radius: 50%;
  background: #0f4b8c;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  margin: 0 9px 0 0;
}
.icon-box svg {
  max-height: 16px;
}
.contact-item span,
.contact-item a {
  text-decoration: none;
  color: #000;
}
.contact-item a:hover {
  color: #c4161c;
}
.footer-links h3 {
  font-size: 20px;
  margin-bottom: 15px;
  font-family: "Metropolis-Regular";
}
.footer-links h3 span {
  font-family: "Metropolis-Bold";
}
.footer-links ul {
  padding: 0;
  margin: 0;
  list-style: none;
}
.footer-links ul li {
  display: flex;
  align-items: flex-start;
  gap: 3px;
  margin-bottom: 8px;
  color: #000;
  line-height: 1.4;
  cursor: pointer;
  transition: 0.5s;
}
.footer-links ul li svg {
  color: #0f4b8c;
  margin-top: 0px;
  flex-shrink: 1px;
  max-height: 16px;
  transition: 0.5s;
}
.footer-links ul li:hover svg {
  color: #c4161c !important;
  transform: rotate(-8deg);
}
.footer-links ul li:hover {
  transform: translateX(5px);
  color: #c4161c;
}
.footer-bottom {
  margin-top: 40px;
  padding: 12px 0;
  background: #fff;
}
.footer-bottom p {
  margin: 0;
  color: #000;
  font-family: "Metropolis-Regular";
}
.footer-bottom p span {
  color: #c4161c;
  font-family: "Metropolis-Regular";
}
.crafted_by img {
  max-height: 16px;
  width: auto;
}
.crafted_by {
  display: flex;
  align-items: center;
  gap: 5px;
  text-decoration: none;
  color: #000;
}

/* Footer End Here */

.next-prev-wrap {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px 0px 20px 0px;
  gap: 15px;
}
.next-prev-wrap svg {
  max-height: 25px;
}
.next-prev-wrap .nav_btn:hover path {
  color: #c4161c;
}
.next-prev-wrap .nav_btn:hover path {
  color: #c4161c;
}
.swiper-next-btn {
  width: 60px;
  height: 35px;
  padding: 0px 0px;
  transition-duration: 0.5s;
  background-color: rgb(229 229 229);
  border-radius: 30px;
  border: 1px solid #ccc;
}
.swiper-prev-btn {
  width: 60px;
  height: 35px;
  padding: 0px 0px;
  transition-duration: 0.5s;
  border-radius: 30px;
  background-color: rgb(229 229 229);
  border: 1px solid #ccc;
}
.swiper-next-btn:hover {
  background-color: #fff;
  transition-duration: 0.5s;
}
.swiper-prev-btn:hover {
  transition-duration: 0.5s;
  background-color: #fff;
}
.swiper-next-btn svg {
  max-height: 21px;
}
.swiper-prev-btn svg {
  max-height: 21px;
}

.swiper-next-btn svg {
  max-height: 21px;
}
.swiper-prev-btn svg {
  max-height: 21px;
}

/* Inner Page Start Here */
.mainpage-wrapper{
  margin: 104px 0 0 0;
}
.innerpages{
  margin: 104px 0 0 0;
}
.innerbannersection {
  background: linear-gradient(
    90deg,
    rgb(196, 22, 28) 0%,
    rgb(16, 70, 127) 100%
  );
  padding: 20px 0;
  font-family: "Metropolis-Regular";
  font-size: 14px;
  line-height: normal;
  color: #fff;
  min-height: 250px;
  display: flex;
  align-items: center;
  position: relative;
}
.innerbannersection::after {
  width: 600px;
  height: 250px;
  background-image: url(/images/common/bannerimgnew.webp);
  background-size: contain;
  background-position: bottom right;
  background-repeat: no-repeat;
  content: "";
  z-index: 2;
  position: absolute;
  right: 0;
  bottom: 0;
}
.innerbannerheading {
  font-size: 35px;
  line-height: normal;
  font-family: "Metropolis-Black";
}
.homepagelink {
  background-color: #fff;
  padding: 3px 11px;
  text-decoration: none;
  color: #000;
  border-radius: 3px;
}
.breadcrumb_links {
  display: flex;
  align-items: center;
  gap: 20px;
  position: absolute;
  bottom: 6%;
}
/* Inner Page Start End */
/* LeftsideBar Start Here */
.sidebar-wrapper {
  width: 100%;
  max-width: 400px;
  background: #fff;
  border-radius: 24px;
  padding: 20px;
  box-shadow: 0 0px 11px rgb(0 0 0 / 12%);
  border: 1px solid #efd7d7;
}
.program-title {
  background: #163c7a;
  color: #ffffff;
  font-size: 16px;
  padding: 13px 24px;
  border-radius: 20px 20px 10px 10px;
  margin-bottom: 10px;
  text-align: left;
  font-family: "Metropolis-SemiBold";
  line-height: normal;
}
.sidebar-menu {
  padding: 0;
  margin: 0;
}
.sidebar-item {
  border-bottom: 1px solid #d8c4c4;
}
.sidebar-item:last-child {
  border-bottom: none;
}
.sidebar-link {
  display: block;
  text-decoration: none;
  color: #222222;
  font-size: 14px;
  font-weight: 500;
  line-height: normal;
  padding: 11px 0px;
  transition: all 0.5s ease;
  font-family: "Metropolis-Regular";
}
.sidebar-link:hover {
  color: #163c7a;
  padding-left: 10px;
}
/* LeftsideBar End Here */
/* TabbingSidebar Start Here */
.tabbingSidebar {
  background: #fff;
  border-radius: 30px;
  padding: 12px;
  border: 1px solid #eadede;
  position: sticky;
  top: 115px;
}
.program-title {
  background: #163c7a;
  color: #ffffff;
  font-size: 16px;
  padding: 13px 24px;
  border-radius: 20px 20px 10px 10px;
  margin-bottom: 10px;
  text-align: left;
  font-family: "Metropolis-SemiBold";
  line-height: normal;
}
.tabbingSidebar .tabbingSidebar {
  padding: 0 10px;
}
.tabbingSidebar .sidebar-menu {
  gap: 0;
}
.sidebar-item {
  border-bottom: 1px solid #e5d8d8;
}
.tabbingSidebarmenus .sidebar-link {
  display: block;
  text-decoration: none;
  color: #000;
  font-size: 14px;
  line-height: 20px;
  padding: 10px 0px 10px 5px;
  font-family: "Metropolis-Regular";
  text-align: left;
  width: 100%;
  position: relative;
}
.tabbingSidebarmenus .sidebar-link:hover {
  color: #c4161c;
}
.tabbingSidebarmenus .sidebar-link.active {
  color: #c4161c;
  background: transparent;
  font-family: "Metropolis-SemiBold";
}
.tabbingSidebar .tab-content-wrapper {
  padding-left: 30px;
}
.subtabbingitem {
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  font-size: 23px;
  font-family: "Metropolis-Light";
}
/* TabbingSidebar End Here */

.main_content {
  padding: 0px 0px 0px 30px;
}
.innerpageheading {
  font-size: 30px;
  color: #10467f;
  font-family: "Metropolis-Bold";
  margin: 0px 0px 20px 0px;
}
.innerpageheading span {
  color: #c4161c;
}
.program_countrow {
  display: flex;
  flex-wrap: nowrap;
  gap: 20px;
  background-color: #f5f8fa;
  padding: 20px;
  border-radius: 20px;
  align-items: center;
  justify-content: space-evenly;
  margin: 60px 0px 0px 0px;
}
.program_count_databox {
  width: auto;
  display: flex;
  align-items: center;
  gap: 15px;
}
.program_count_databox svg {
  max-height: 75px;
}
.program_count_img {
  width: auto;
}
.program_count_data {
  width: 80%;
}
.program_count_data .count {
  font-size: 30px;
  color: #c4161c;
  font-family: "Metropolis-Bold";
}
.program_count_data span {
  width: 100%;
  display: block;
  font-size: 14px;
}
.program_highlights_box {
  font-size: 14px;
  display: flex;
  gap: 30px;
  margin: 60px 0px 0px 0px;
}
.listingbox {
  padding: 0 0 0 14px;
  margin: 0px;
}
.listingbox li {
  padding: 2px 0;
  list-style-type: disc;
  color: #000;
}
.program_highlights_right .listingbox li {
  color: #fff;
}
.program_highlights_left {
  width: 58%;
  border-radius: 20px;
  border: 1px solid #10467f;
  padding: 20px;
}
.verticalScroll {
  overflow-y: auto;
  max-height: 300px;
  padding-right: 10px;
}
/* Scrollbar width */
.verticalScroll::-webkit-scrollbar {
  width: 6px;
}
/* Track (background)  */
.verticalScroll::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 10px;
}
/* Thumb (scroll handle)  */
.verticalScroll::-webkit-scrollbar-thumb {
  background: #d9d9d9;
  /* your darker shade */
  border-radius: 10px;
}
/* Hover effect  */
.verticalScroll::-webkit-scrollbar-thumb:hover {
  background: #afafaf;
}
.bluescroll::-webkit-scrollbar-track {
  background: #23568b;
  border-radius: 10px;
}
.bluescroll::-webkit-scrollbar-thumb {
  background: #396da5;
  border-radius: 10px;
}
.bluescroll::-webkit-scrollbar-thumb:hover {
  background: #4187d2;
}
.redscroll::-webkit-scrollbar-track {
  background: #c8292f;
  border-radius: 10px;
}
.redscroll::-webkit-scrollbar-thumb {
  background: #e01b23;
  border-radius: 10px;
}
.redscroll::-webkit-scrollbar-thumb:hover {
  background: #f2252c;
}
.program_highlights_right {
  width: 40%;
  background-color: #c3161d;
  border-radius: 10px;
  padding: 20px 8px 20px 20px;
  border-radius: 20px;
}
.program_highlights_right .headingbg {
  border-radius: 10px;
  background-color: #fff;
  font-size: 16px;
  color: #c3161d;
  font-family: "Metropolis-Bold";
  padding: 8px 10px;
  margin-bottom: 15px;
  text-align: center;
}
.grey_gradient {
  padding: 60px 0px;
}
.computing_facility_section {
  background-image: url(/images/innerpages/programe/collageget.webp);
  background-repeat: no-repeat;
  background-position: center right;
  background-size: 55%;
  padding: 60px 0px;
}
.computing_facility_inner {
  width: 57%;
}
.job_roles_recuiters {
  padding: 60px 0px;
}
.job_roles_recuitersinner {
  background: linear-gradient(
    90deg,
    rgba(255, 255, 255, 1) 0%,
    rgba(232, 231, 231, 1) 100%
  );
  display: flex;
  align-items: center;
  height: 260px;
}
.job_roles_recuitersleft {
  width: 60%;
}
.job_roles_recuitersright {
  width: 40%;
  padding: 30px;
  background: #fff;
  border-radius: 20px;
  border: 1px solid #10467f;
  min-height: 320px;
}
.recuiterslogo {
  display: flex;
  gap: 40px;
  flex-wrap: wrap;
  justify-content: flex-start;
}
.recuiterslogo img {
  max-height: max-content;
  width: auto;
}
.listingboxmain {
  display: flex;
  gap: 20px;
}
.job_roles_recuitersright .innerpageheading {
  margin: 0px 0px 35px 0px;
}
.intake_main {
  padding: 60px 0px;
}
.intake_left {
  background-color: #10467f;
  padding: 20px;
  border-radius: 20px;
  color: #fff;
}
.intakerow {
  display: flex;
  justify-content: space-between;
  padding: 10px 0;
  border-bottom: 1px solid #ffffff3b;
}
.intake_right {
  background-color: #c4161c;
  padding: 20px;
  border-radius: 20px;
  color: #fff;
  min-height: 270px;
  position: relative;
  background-image: url("/images/innerpages/programe/Student-TestimonialsBg.png");
  background-position: bottom center;
  background-repeat: no-repeat;
  background-size: contain;
}
.intake_right::after {
  width: 100px;
  height: 100px;
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: 1;
  content: "";
  background-image: url("/images/innerpages/programe/play.svg");
  background-position: -10px -10px;
  background-repeat: no-repeat;
  background-size: contain;
}
.overviewtestimonials {
  text-decoration: none;
}
.StudentName {
  font-family: "Metropolis-SemiBold";
  font-size: 18px;
}
.StudentDepartment {
  font-family: "Metropolis-Light";
}
.profilemain {
  display: flex;
  gap: 25px;
  align-items: center;
}
.profilecontent {
  width: 66%;
}
.profileImage {
  width: 32%;
  position: relative;
  box-shadow: 0px 2px 8px #0000000d;
  border-radius: 20px;
}
.profileImage img {
  border-radius: 20px;
  width: 100%;
}
.profileName {
  font-family: "Metropolis-Bold";
  font-size: 18px;
}
.profileDepartment {
  font-size: 14px;
}
.profileDescription {
  position: absolute;
  bottom: 0;
  background: linear-gradient(
    180deg,
    rgba(255, 255, 255, 0) 0%,
    rgba(255, 255, 255, 1) 50%
  );
  padding: 80px 20px 20px 20px;
  border-radius: 20px;
}
table {
  font-size: 14px;
}
.table thead tr th {
  background-color: #c2171a14 !important;
  font-family: "Metropolis-SemiBold";
  line-height: normal;
  font-weight: inherit;
}
.redtext {
  color: #c4161c;
}

/* Custom CSS End Here*/

.paddingTop {
  padding: 60px 0px 0px 0px;
}
.paddingBottom {
  padding: 0px 0px 60px 0px;
}
.paddingBoth {
  padding: 60px 0px 60px 0px;
}
.padding30 {
  padding: 30px 0px 30px 0px;
}

/* .programme-wrapper {
  background: #ffffff;
  border-radius: 24px;
  border: 1px solid #e9edf5;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.04);
} */

/* .icon-box {
  width: 78px;
  height: 78px;
  border-radius: 20px;
  background: #f1f5ff;
  color: #C4161C;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
} */

.main-title {
  font-size: 2.2rem;
  font-weight: 700;
  color: #0f172a;
}

.sub-text {
  font-size: 1.1rem;
  color: #64748b;
}

.programme-list {
  display: flex;
  flex-wrap: wrap;
  gap: 18px;
  margin-top: 35px;
}

.programme-card {
  border: 1px solid #e5e7eb;
  border-radius: 20px;
  padding: 15px 15px;
  transition: all 0.3s ease;
  background: #ffffff;
  cursor: pointer;
  width: 45%;
}
.programme-card:hover {
  transform: translateY(-2px);
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.06);
}
.active-card {
  border: 1px solid #c7d7ff;
  background: #f8fbff;
}
.small-icon-box {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background: #c3161d0d;
  color: #c3161d;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
}
.programme-title {
  font-size: 16px;
  color: #0f172a;
  font-family: "Metropolis-Medium";
}
.active-card .programme-title {
  color: #c3161d;
}
.programme-wrapper .pending-badge {
  color: #d97706 !important;
  width: fit-content;
  display: flex;
  align-items: center;
  display: flex;
  background: #163c7a14 !important;
  border-radius: 20px;
  border: none;
  padding: 6px 10px;
  font-size: 12px;
  font-family: "Metropolis-Regular";
  font-weight: inherit;
}
.arrow-icon {
  color: #c4161c;
}
/* Infrastructure Tab Start Here */
.infrastructure_images {
  display: flex;
  gap: 15px;
  flex-wrap: wrap;
}
.infrastructure_card {
  text-decoration: none;
  width: 32%;
  position: relative;
}
.infrastructure_card a {
  text-decoration: none;
}
.infrastructure_card iframe {
  width: 100%;
}
.play-icon {
  font-size: 30px;
  position: absolute;
  z-index: 999;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: #ffffffa1;
  width: 60px;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 40px;
  color: #c4161c;
}
.infrastructure_img {
  max-height: 240px;
  min-height: 240px;
  overflow: hidden;
  object-fit: cover;
}
.infrastructure_images .img-title {
  text-decoration: none;
  color: #000;
  font-size: 14px;
  font-family: "Metropolis-Regular";
  margin: 6px 0 0 0;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  height: 21px;
}
/* Infrastructure Tab End Here */
/* Outcome Based Tab Start Here */
.outcome_based_education_main .icon-box svg {
  max-height: inherit;
}

/* .icon-box {
  width: 60px;
  height: 60px;
  min-width: 60px;
  border-radius: 18px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.icon-box svg {
    max-height: inherit;
} */
.mission-card {
  background: #f8fbff;
  border: 1px solid #e9eef5;
  border-radius: 20px;
  padding: 25px;
  transition: 0.3s;
}
.mission-card:hover {
  transform: translateY(-5px);
}
.outcome_based_education_main .card {
  border: none;
}
.outcome_based_education_main .mission-badge {
  padding: 8px 15px;
  border-radius: 6px;
  font-size: 14px;
  font-family: "Metropolis-Medium";
  font-weight: inherit;
  background: #e9f0fd;
  color: #163c7a;
}
.custom-card {
  background: white;
  border: 1px solid #edf0f5;
  border-radius: 24px;
  padding: 30px;
  transition: 0.3s;
}
.po-card {
  background: white;
  border: 1px solid #edf0f5;
  border-radius: 20px;
  padding: 24px;
  display: flex;
  gap: 20px;
  align-items: flex-start;
  height: 100%;
}
.main_content .provisionbox {
  background-color: #3f2727;
  padding: 20px;
  border-radius: 20px;
  background-color: #c4161c05;
  border: 1px solid #c4161c17;
  box-shadow: 0px 5px 12px #0000000f;
  margin: 0 0 30px 0px;
}
.provisionbox::after {
  position: absolute;
  right: 5%;
  bottom: 10%;
  content: "";
  z-index: 9;
  width: 180px;
  height: 175px;
  background-image: url(/images/innerpages/programe/vision.webp);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  animation: floatVision 2s ease-in-out infinite;
}
@keyframes floatVision {
  0% {
    transform: translateY(0px) rotate(0deg);
  }

  50% {
    transform: translateY(-8px) rotate(1deg);
  }

  100% {
    transform: translateY(0px) rotate(0deg);
  }
}
.visiontextleft {
  width: 65%;
}
.blueiconcolor {
  color: #10467f;
}
.rediconcolor {
  color: #c4161c;
}
.po-number {
  width: 35px;
  height: 35px;
  min-width: 35px;
  background: #e9f0fd;
  color: #163c7a;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 16px;
}
/* Outcome Based Tab End Here */
/* FAQ Tab Start Here */
.faq_section .collapse {
  visibility: visible;
}
.faq_item {
  border: none !important;
  border-radius: 11px !important;
  overflow: hidden;
  margin-bottom: 18px;
  background: #ffffff;
  box-shadow: 0 5px 10px rgb(0 0 0 / 3%);
}
.faq_section .accordion-button:not(.collapsed) {
  background-color: #c4161c28;
}
.faq_section .accordion-button:focus {
  box-shadow: 0px 0px 0px #ccc;
}
.faq_header {
  width: 100%;
  padding: 0px 0px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 15px;
  font-family: "Metropolis-SemiBold";
  font-size: 16px;
  color: #000;
}
/* FAQ Tab End Here */

.facultylisting_wrapper .faculty-card {
  box-shadow: 0px 0px 0px #000;
  border-radius: 15px;
}
.faculty-card .faculty-image-wrapper img {
  border-radius: 15px 15px 0px 0px;
  max-height: 220px;
  overflow: hidden;
  object-fit: cover;
  object-position: top;
}
.faculty-name {
  font-family: "Metropolis-Bold";
  font-weight: inherit;
  font-size: 18px;
}
.faculty-designation {
  font-size: 14px;
  color: #333;
}
.knowmorefaculty {
  color: #000;
  text-decoration: none;
  line-height: normal;
  border: 1px solid #ccc;
  padding: 7px 15px;
  border-radius: 20px;
  font-size: 13px;
  transition: 0.3s;
}
.knowmorefaculty:hover {
  color: #fff;
  background-color: #c4161c;
  border: 1px solid #c4161c;
}

/* Event Page Start Here */
.eventimg_preview{
  border-radius:20px;
}
.eventsimages{
  margin-top:60px;
}
.eventsimages img{
  max-height: 200px;
  overflow: hidden;
  object-fit: cover;
}
.knowmoreevent{
    background: #c4161c;
    border: none;
    border-radius: 40px;
    margin: 10px 0 10px 0;
    text-decoration:none;
    color: #fff;
    line-height: normal;
    font-size: 14px;
    padding: 9px 20px;
    display: block;
    width: fit-content;
    margin: 0 auto;
    transition-duration:0.5s;
    border: 1px solid #c4161c;
}
.knowmoreevent:hover{
  background-color:transparent;
  border: 1px solid #c4161c;
  color:#c4161c;
}
.eventlisting .subheading18 {
    line-height: normal;
    margin: 0 0 20px 0;
}
.eventlist_box {
    background-color: #fff;
    border-radius: 15px;
    /* box-shadow: 0px 10px 10px #0000000f; */
    height: 100%;
    overflow: hidden;
    border: 1px solid #cccccc54;
}
.eventlist_box .card-body {
    padding: 20px;
}
.eventlist_box .image-wrapper {
    overflow: hidden;
    border-radius: 15px 15px 0 0;
}
.eventimg_box{
  overflow: hidden;
}
.eventlist_box img {
    width: 100%;
    max-height: 250px;
    min-height: 250px;
    object-fit: cover;
    transition: transform 0.7s ease;
    display: block;
}
.eventlist_box:hover img {
    transform: scale(1.1);
}
/* Event Page End Here */
/* Leadership Page Start Here */
.leadership_page{
  position: relative;
}
.leadership_page::after{
  position: absolute;
  left: 0;
  top:0;
  bottom:0;
  width:25%;
  content:"";
  z-index:-1;
  background: linear-gradient(180deg, rgba(226, 240, 255, 1) 35%, rgba(255, 185, 188, 1) 100%);
}
.leadership_inner{
  padding: 60px 0;
}
.leader-header{
  background: linear-gradient(90deg,rgba(247, 247, 247, 1) 35%, rgba(255, 255, 255, 1) 100%);
  padding: 20px 20px 20px 30px;
  border-radius: 15px;
}
.leader-header .subheading18{
  color:#C4161C;
  font-family: 'Metropolis-Medium';
}
.leader-sticky {
  position: sticky;
  position: -webkit-sticky;
  top: 120px;
  align-self: flex-start;
}

.leader-image {
  width: 100%;
  height: auto;
  border-radius: 20px;
  display: block;
}
.leader-sticky {
  position: sticky;
  top: 120px;
}

.leader-image-wrapper {
  position: relative;
}
/* Leadership Page End Here */





/* ========== Rahul Normal CSS start ==========  */

.adderess_form_mainbox {
  display: grid;
  grid-template-columns: 1fr 0.6fr;
  align-items: center;
  gap: 80px;
}

.adderess_content_box {
  display: grid;
  grid-template-columns: 27px 1fr;
  gap: 20px;
}

.adderess_content_heading {
  font-size: 20px;
  font-family: "Metropolis-Bold";
}

.adderess_content_subheading {
  font-size: 18px;
}

.adderess_content_para {
  margin: 15px 0 0 0;
}

.adderess_inquiry_number_heading {
  font-size: 18px;
  font-family: "Metropolis-Medium";
  line-height: normal;
  margin: 0 0 10px 0;
}

.adderess_inquiry_number_listing a {
  font-size: 14px;
  color: #000000;
  text-decoration: none;
}

.adderess_inquiry_number_para {
  font-size: 14px;
  font-family: "Metropolis-SemiBold";
  margin: 15px 0 0 0;
}

.adderess_inquiry_number_box {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  padding: 20px;
  border-radius: 30px;
  background-color: #f4f4f4;
  margin: 40px 0 0 0;
}

.adderess_inquiry_number_right {
  background-color: #ffffff;
  padding: 30px;
  border-radius: 30px;
}

.adderess_inquiry_number_right_listing {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px;
}

.adderess_inquiry_number_right_listing_left {
  font-size: 14px;
}

.adderess_inquiry_number_right_listing_right a {
  text-decoration: none;
  font-size: 14px;
  color: #000000;
  font-family: "Metropolis-SemiBold";
}

.adderess_inquiry_number_left {
  padding: 0 0 0 20px;
}

.contact_form_mainbox {
  background: linear-gradient(
    180deg,
    rgba(226, 240, 255, 1) 0%,
    rgba(255, 185, 188, 1) 100%
  );
  padding: 80px 40px 60px 40px;
}

.contact_background_rightbox {
  width: 100%;
  height: 100%;
  background: linear-gradient(
    180deg,
    rgba(226, 240, 255, 1) 0%,
    rgba(255, 185, 188, 1) 100%
  );
}

.form_lable {
  color: #000000;
}

.error_msg {
  font-size: 13px;
  color: #c4161c;
  margin: 8px 0 0 0;
}

.submite_btn {
  padding: 12px 22px;
  background-color: #c4161c;
  color: #ffffff;
  border-radius: 40px;
  line-height: normal;
  margin: 10px 0 0 0;
}

.adderess_form_section {
  display: grid;
  border-bottom: 5px solid #e3effe66;
}

.adderess_form_section > * {
  grid-area: 1/1;
}

.contact_background_mainbox {
  display: grid;
  grid-template-columns: 1fr 25vw;
}

.enquiry_listing_mainbox {
  display: flex;
  gap: 25px;
  justify-content: center;
  flex-wrap: wrap;
}

.enquiry_listing {
  width: 23.3%;
  display: grid;
  grid-template-rows: 1fr auto;
  border: 1px solid #ffffff;
  border-radius: 20px;
  box-shadow: 0 4px 4px #0000000d;
  transition: all 0.35s ease;
  position: relative;
  overflow: hidden;
}

.enquiry_listing:hover {
  transform: translateY(-5px) scale(1.01);
  box-shadow: rgba(0, 0, 0, 0.12) 0px 15px 30px;
  border-color: rgba(0, 0, 0, 0.08);
}

.btech_enquiry_section {
  display: grid;
}

.btech_enquiry_section > * {
  grid-area: 1/1;
}

.btech_enquiry_section .container {
  align-self: center;
  justify-self: center;
}

.enquiry_listing_headingbox {
  padding: 20px;
  background-color: #10467f0d;
  border-radius: 20px 20px 0 0;
  text-align: center;
  line-height: normal;
}

.enquiry_listing:nth-child(odd) .enquiry_listing_headingbox {
  background-color: #c4161c0d;
}

.enquiry_listing_number_box {
  display: flex;
  justify-content: center;
  background-color: #ffffff;
  text-align: center;
  gap: 20px;
  padding: 10px;
  border-radius: 0 0 20px 20px;
  align-items: center;
  line-height: normal;
  text-decoration: none;
  font-family: "Metropolis-SemiBold";
  color: #000000;
}

.enquiry_listing_heading {
  margin: 0 0 10px 0;
  font-family: "Metropolis-SemiBold";
}

.enquiry_listing_designation {
  font-size: 12px;
  line-height: 1.3;
}

.btech_enquiry_background_img_box img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.btech_enquiry_section .innerpageheading {
  margin: 0px 0px 40px 0px;
}

.btech_section {
  padding: 40px 0 0 0;
}

.mtech_section {
  padding: 100px 0 0 0;
}

.mtech_section .btech_enquiry_background_img_box {
  padding: 30px 0 0 0;
}

.btech_enquiry_section.mtech_section .container {
  align-self: start;
}

.mtech_section .enquiry_listing {
  border: 1px solid #dedede;
}

.mtech_section .enquiry_listing:nth-child(odd) .enquiry_listing_headingbox {
  background-color: #ffffff;
}

.mtech_section .enquiry_listing .enquiry_listing_headingbox {
  background-color: #ffffff;
}

.mtech_section .enquiry_listing_number_box {
  background-color: #edf5ff;
}

.mtech_section .innerpageheading {
  margin: 0px 0px 60px 0px;
}

/* ========== Rahul Normal CSS ends ========== */

/* Media Queries Start Here */
@media (min-width: 1599.98px) {
  /* Header Start Here*/
  .mainmenu .nav-item .nav-link {
    padding: 5px 9px !important;
  }
  .mainlogo {
    min-height: 80px !important;
  }
  /* Header End Here */
}
@media (min-width: 1399.98px) {
  /* Header Start Here*/
  .mainlogo {
    min-height: 70px;
    width: auto;
  }
  .navbar-nav {
    padding-right: 50px;
  }
  /* Header End Here */
  /* About Section Start */
  .Aboutus_section:after {
    height: 496px;
    top: 55%;
  }
}
@media (max-width: 1199.98px) {
  /* ========== Rahul 1198.98 CSS start ==========  */
  .adderess_form_mainbox {
    gap: 40px;
    padding: 40px 0;
  }

  .contact_form_mainbox {
    padding: 80px 0px 60px 20px;
  }

  .form_lable {
    font-size: 14px;
  }

  .adderess_inquiry_number_left {
    padding: 0;
  }

  .adderess_inquiry_number_box {
    grid-template-columns: 1fr;
    gap: 15px;
  }

  .contact_background_mainbox {
    grid-template-columns: 1fr 39vw;
  }

  .enquiry_listing {
    width: 22.9%;
  }

  .enquiry_listing_headingbox {
    padding: 20px 10px;
  }

  .mtech_section {
    padding: 40px 0 0 0;
  }

  .contact_background_mainbox {
    grid-template-columns: 1fr 39vw;
  }

  /* ========== Rahul 1198.98 CSS ends ========== */
}
@media (max-width: 991.98px) {
  .stat-box {
    border-right: none;
    border-bottom: 1px solid #ccc;
  }
  .stat-box h2 {
    font-size: 32px;
  }
  .stat-box p {
    font-size: 18px;
  }
  /* LeftSideBar Start Here */
  .sidebar-wrapper {
    max-width: 100%;
  }
  .program-title {
    font-size: 16px;
    padding: 10px 12px;
  }
  .sidebar-link {
    font-size: 14px;
    padding: 10px 8px;
  }
  /* LeftSideBar Start Here */
  /* ========== Rahul 991.98 CSS star ========== */
  .enquiry_listing {
    width: 30.9%;
  }

  .adderess_form_mainbox {
    grid-template-columns: 1fr;
    padding: 0;
    gap: 40px;
  }

  .contact_background_mainbox {
    display: none;
  }

  .adderess_form_section {
    padding: 60px 0 0 0;
  }

  .adderess_inquiry_number_box {
    padding: 30px;
  }

  .contact_form_mainbox {
    padding: 30px;
    border-radius: 30px;
  }

  .btech_section {
    padding: 0;
  }

  .btech_section .container,
  .direct_section .container,
  .mtech_section .container {
    padding: 60px 0;
  }

  .adderess_form_section {
    border: 0;
  }

  .mtech_section {
    padding: 0;
  }

  .mtech_section .btech_enquiry_background_img_box {
    padding: 100px 0 0 0;
  }
  /* ========== Rahul 991.98 CSS ends ========== */
}
@media (max-width: 767.98px) {
}
@media (max-width: 575.98px) {
  /* LeftSideBar Start Here */
  .sidebar-wrapper {
    padding: 16px;
    border-radius: 18px;
  }
  .program-title {
    font-size: 22px;
    border-radius: 14px;
    margin-bottom: 20px;
  }
  .sidebar-link {
    font-size: 15px;
    padding: 14px 6px;
  }
  /* LeftSideBar Start Here */
  /* ========== Rahul 575.98 CSS start ========== */
  .adderess_content_icon svg {
    width: 20px;
    height: 20px;
  }

  .adderess_content_box {
    grid-template-columns: 20px 1fr;
    gap: 10px;
  }

  .adderess_inquiry_number_box {
    padding: 20px;
    margin: 20px 0 0 0;
  }

  .adderess_content_heading {
    font-size: 18px;
  }

  .adderess_content_subheading {
    font-size: 14px;
  }

  .adderess_inquiry_number_right_listing {
    grid-template-columns: 1fr;
    gap: 0px;
  }

  .adderess_inquiry_number_right {
    padding: 20px;
    border-radius: 20px;
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 10px;
  }

  .enquiry_listing {
    width: 90%;
  }

  /* ========== Rahul 575.98 CSS ends ========== */
}

/* Media Queries End Here */
